/bin
/bin-test
/coverage-report
/docs
/jar
/junit
/checkstyle-result.xml
/.classpath
/.project
/eclipse-bin
/pmd_error.xml
/pmd_warning.xml
/rawtestoutput
/target/
/test-output
/src/main/java/eu/printingin3d/javascad/utils/TestMain.java
